# Ignorar arquivos e pastas desnecessários para um projeto Spring Boot

# Build e dependências
/target/
/build/
/.mvn/
!mvn/wrapper/maven-wrapper.jar

# Configurações do IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Configurações do Eclipse e STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Configurações do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Configurações do VS Code
.vscode/

# Arquivos de log e temporários
*.log
*.tmp

# Arquivos sensíveis
HELP.md
/src/main/resources/application.properties
