#root{
    height: 100dvh;
}

.produto-detalhes{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.img{
    width: 70%;
    
}
.items{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}